
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


header {
    background: black;
    padding: 15px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav ul li a:hover {
    color: lightgreen;
}

/* Hero Section */
.hero {
    height: 500px;          /* Changed from 90vh to px */
    background: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-text h1 {
    font-size: 3rem;
}

.hero-text span {
    color: black;
    font-weight: bold;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: darkblue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: navy;
}


.about {
    padding: 60px 40px;
    text-align: center;
}

.about p {
    max-width: 700px;
    margin: 20px auto;
}


.projects {
    background: whitesmoke;
    padding: 60px 40px;
    text-align: center;
}

.project-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    background: white;
    width: 250px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
}

.contact {
    padding: 60px 40px;
    text-align: center;
}

.contact-info {
    margin-bottom: 30px;
}


.contact-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    padding: 12px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background: darkgreen;
}


footer {
    background: black;
    color: white;
    padding: 15px;
    text-align: center;
}
